<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- OU YEAAHHH ONLY USING ANGULAR-->
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<script src="angular-1.5.5/angular.min.js"></script>
<script src="angular-1.5.5/angular-route.min.js"></script>
<script src="angular-1.5.5/angular-animate.min.js"></script>
<script src="pomodoroClock.js"></script>
<title>Calculator</title>
</head>

<body ng-app="appCalculator" ng-controller="MainCtrl">

<!--<div class="container" ng-controller="MainCtrl">-->
<div class="container" >
  <div class="main" ng-view>
      <div class="pannel">
        <h1>Calculator</h1>
        <div id="display">
       	 <input id="displayDigits" type ="text" ng-readonly ="true" ng-model="displayValue">
        </div>
        <div id="buttons" layout="row" layout-align="center center">
          <button ng-click="addItem('AC')" class="btn"> AC </button>
          <button ng-click="addItem('CE')" class="btn"> CE </button>
          <button ng-click="addItem('%')" class="btn"> % </button>
          <button ng-click="addItem('/')" class="btn"> / </button>
          <button ng-click="addItem(7)" class="btn"> 7 </button>
          <button ng-click="addItem(8)" class="btn"> 8 </button>
          <button ng-click="addItem(9)" class="btn"> 9 </button>
          <button ng-click="addItem('*')" class="btn"> * </button>
          <button ng-click="addItem(4)" class="btn"> 4 </button>
          <button ng-click="addItem(5)" class="btn"> 5 </button>
          <button ng-click="addItem(6)" class="btn"> 6 </button>
          <button ng-click="addItem('-')" class="btn"> - </button>
          <button ng-click="addItem(1)" class="btn"> 1 </button>
          <button ng-click="addItem(2)" class="btn"> 2 </button>
          <button ng-click="addItem(3)" class="btn"> 3 </button>
          <button ng-click="addItem('+')" class="btn"> + </button>
          <button ng-click="addItem('.')" class="btn"> . </button>
          <button ng-click="addItem(0)" class="btn"> 0 </button>
<button id="btn_total" ng-click="addItem('=')" class="btn"> = </button>
        </div>
      </div>
  </div>
</div>
</body>
</html>
